@import '../variables';

.sort {
  position: relative;
  user-select: none;

  &__icon * {
    width: 10px;
    height: 20px;
    cursor: pointer;
    fill: #2a2a2a;
    transition: fill 0.2s linear;

    &:active {
      transform: translateY(0.5px);
    }
    &:hover{
      fill:  #fe5f1e;;
    }
  }

  &__label {
    display: flex;
    gap: 10px;
    align-items: center;


    span {
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;
    }
  }

  &__popup {
    position: absolute;
    left: 140px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;

    ul {
      overflow: hidden;

      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }
}
